<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tweets</h1>
    <%= link_to "New tweet", new_tweet_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <!-- Display all tweets -->
  <div id="tweets" class="min-w-full">
  <% @tweets.each do |tweet| %>
    <div class="bg-gray-100 p-4 my-2">
      <p><%= render tweet %></p>
      <p><%= link_to 'Edit', edit_tweet_path(tweet) %></p>
      <p><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>

    
  </div>
</div>
